body{
    margin: auto;
    background-color: rgb(117, 90, 92);
    max-width: 500px;
  margin: auto;
  padding: 10px;
}

#cow{
    opacity:60%;
}
.Results{
    width: 600px;
    opacity:60%;
    color:rgb(17, 16, 16);
}
